<div class="root">

  <div class="navbar has-background-dark">
    <div class="navbar-brand">
      <div class="navbar-item">
        <h1 class="app-name has-gradient-text">
          YT Kanban
        </h1>
      </div>
    </div>
  </div>

  <div class="board">
    <div class="board-bar">
      <p class="board-name">
        {{ activeBoard.name }}
      </p>
    </div>

    <div class="board-wrapper">
      <div
        cdkDropList
        class="board-columns"
        [cdkDropListData]="activeBoard.columns"
        (cdkDropListDropped)="dropColumn($event)"
        [cdkDropListEnterPredicate]="onlyAcceptColumns"
      >

        <div
          *ngFor="let column of activeBoard.columns; index as colIndex"
          [cdkDragData]="{ type: 'column', index: colIndex }"
          class="board-column"
          cdkDrag
        >
          <div class="column-title">
            {{ column.name }}
          </div>

          <!-- <app-items [column]="column" /> -->

          <div class="tasks-container"
            cdkDropList
            [cdkDropListData]="column.items"
            (cdkDropListDropped)="drop($event)"
            [cdkDropListEnterPredicate]="onlyAcceptItems"
          >
            <div
              *ngFor="let item of column.items; index as itemIndex"
              [cdkDragData]="{ type: 'item', column: colIndex, index: itemIndex }"
              class="task"
              cdkDrag
            >
              {{ item }}
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

</div>
