<div class="root">

  <div class="navbar has-background-dark">
    <div class="navbar-brand">
      <div class="navbar-item">
        <h1 class="app-name has-gradient-text">
          YT Kanban
        </h1>
      </div>
    </div>
  </div>

  <div class="board">
    <div class="board-bar">
      <p class="board-name">
        {{ activeBoard.name }}
      </p>
    </div>

    <div class="board-wrapper">
      <div class="board-columns" cdkDropList [cdkDropListData]="activeBoard.columns" (cdkDropListDropped)="dropColumn($event)">

        <div
          *ngFor="let column of activeBoard.columns"
          class="board-column"
          cdkDrag
        >
          <div class="column-title">
            {{ column.name }}
          </div>

          <div class="tasks-container"
          cdkDropList
          [cdkDropListData]="column.items"
          (cdkDropListDropped)="drop($event)">

            <div
              *ngFor="let item of column.items"
              class="task"
              cdkDrag
            >
              {{ item }}
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>

</div>
