<div class="kanban-board">

  <div
    *ngFor="let column of columns; index as colIndex"
    cdkDropList
    class="kanban-column"
    [cdkDropListData]="column.items"
    (cdkDropListDropped)="drop($event)"
  >

    <div class="column-header">
      <h2>
        {{ column.title }}
      </h2>
      <button class="add-btn" (click)="addItem(colIndex)">
        Add Task
      </button>
    </div>

    <div
      *ngFor="let item of column.items; index as itemIndex"
      class="kanban-card"
      cdkDrag
    >
      {{ item }}
      <button class="delete-btn" (click)="deleteItem(colIndex, itemIndex)">
        &times;
      </button>
    </div>

  </div>

</div>
